---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Page from "../../layouts/Page.astro";

const posts = (await getCollection('blog'))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.reverse()
---

<Page title="Blog">
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.slug}/`}>
							<h4 class="title">{post.data.title}</h4>
							{
								post.data.series && (
									<p class="series">{post.data.series.title} - {post.data.series.subtitle}</p>
								)
							}
							<p class="date">
								<FormattedDate date={post.data.pubDate} />
							</p>
							<p class="description">{post.data.description}</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Page>

<style>
	ul {
		//display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul li {
		border-top: 1px solid var(--color-text);
		padding: 2em 0 0;
	}

	ul li:first-child {
		border-top: none;
	}

	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}

	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}

	ul li a {
		display: block;
	}

	.title {
		margin: 0;
		color: var(--bold-text);
		line-height: 1;
	}

	.series {
		margin: 0;
		color: var(--color-text);
	}

	.date {
		margin: 0;
		color: var(--color-text);
	}

	.description {
		color: var(--color-text);
	}

	ul li a:hover .title,
	ul li a:hover .series,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}

	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
</style>
