---
import { SITE_TITLE, SITE_AUTHOR } from "../consts";

import BaseHead from '../components/BaseHead.astro';
import FormattedDate from "../components/FormattedDate.astro";
import Navigation from "../components/Navigation.astro";
import Social from "../components/Social.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const today = new Date();
const { title, description, pubDate, updatedDate, series, heroImage, canonical } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<BaseHead title={`${title} | ${SITE_TITLE}`} description={description} image={heroImage} canonical={canonical} />
	<style>
		main {
			width: 960px;
			max-width: calc(100% - 2em);
			margin: 0 auto;
		}

		div.prose {
			width: 800px;
			max-width: calc(100% - 2em);
			margin: 2em auto 0;
			color: var(--color-text);
		}

		.hero-image {
			margin-top: 30px;
			width: 100%;
		}

		.hero-image img {
			display: block;
			margin: 0 auto;
			border-radius: 12px;
			box-shadow: var(--box-shadow);
		}

		.title {
			margin: 2em 0 1em;
			padding: 1em 0;
			text-align: center;
			line-height: 1;
		}

		.title h1 {
			margin: 0 0 0.5em 0;
		}

		.date {
			margin-bottom: 0.5em;
			color: var(--color-text);
		}

		.last-updated-on {
			font-style: italic;
		}

		footer {
			padding: 2em 1em 6em 1em;
			color: var(--color-text);
			text-align: center;
		}

		.light-dark {
			position: fixed;
			top: 0;
			left: 0;
			padding: 10px;
		}
	</style>
</head>

<body>
	<div class="light-dark">
		<ThemeToggle/>
	</div>

	<main>
		<Social/>
		<Navigation/>

		<div class="hero-image">
			{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
		</div>

		<div class="title">
			<div class="date">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			{
				series && (
					<h3>{`${series.title} - ${series.subtitle}`}</h3>
				)
			}
			<h1>{title}</h1>
			<hr />
		</div>

		<div class="prose">
			<article>
				<slot/>
			</article>
		</div>
	</main>

	<footer>
		<p>&copy; {today.getFullYear()}&nbsp;{SITE_AUTHOR}. All rights reserved.</p>
		<Social/>
	</footer>
</body>
</html>
