---
import {SITE_TITLE, SITE_AUTHOR} from "../consts";

import BaseHead from '../components/BaseHead.astro';
import Navigation from "../components/Navigation.astro";
import Social from "../components/Social.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const {title, description, canonical} = Astro.props.frontmatter || Astro.props;
const today = new Date();
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title={`${title} | ${SITE_TITLE}`} description={description} canonical={canonical}/>
    <style>
        main {
            width: 960px;
            max-width: calc(100% - 2em);
            margin: 0 auto;
        }

        div.prose {
            width: 800px;
            max-width: calc(100% - 2em);
            margin: 4em auto 0;
            color: var(--color-text);
        }

        footer {
            padding: 2em 1em 6em 1em;
            color: var(--color-text);
            text-align: center;
        }

        .light-dark {
            position: fixed;
            top: 0;
            left: 0;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="light-dark">
        <ThemeToggle/>
    </div>

    <main>
        <Social/>
        <Navigation/>

        <div class="prose">
            <slot/>
        </div>
    </main>

    <footer>
        <p>&copy; {today.getFullYear()}&nbsp;{SITE_AUTHOR}. All rights reserved.</p>
        <Social/>
    </footer>
</body>
</html>
